<section id="services" class="gray">
    <div class="container pad-bot-50">
        <div class="heading">
            <div>Our services</div>
            <h1>What we love to do</h1>
            <div class="divider"><span></span></div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="service-item fadeInDown">
                    <div class="circle circle-l"><i class="fa fa-css3 fa-3x"></i></div>
                    <h3>Web design</h3>
                    <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elits</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp">
                    <div class="circle circle-l"><i class="fa fa-pencil fa-3x"></i></div>
                    <h3>Graphic design</h3>
                    <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elits</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInDown">
                    <div class="circle circle-l"><i class="fa fa-camera fa-3x"></i></div>
                    <h3>Photography</h3>
                    <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elits</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="service-item fadeInUp">
                    <div class="circle circle-l"><i class="fa fa-gear fa-3x"></i></div>
                    <h3>Developing</h3>
                    <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elits</p>
                </div>
            </div>
        </div>
    </div>
    <div class="branded-section process">
        <div class="masked">
            <div class="container">
                <div class="heading">
                    <h3 class="primary-color">How we do it</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="process-item ">
                            <i class="fa fa-flask fa-3x"></i>
                            <h3>Analize</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay1">
                            <i class="fa fa-inbox fa-3x"></i>
                            <h3>Preapering</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay2">
                            <i class="fa fa-gavel fa-3x"></i>
                            <h3>Working</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay3">
                            <i class="fa fa-flag-checkered fa-3x"></i>
                            <h3>Finalize</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay4">
                            <i class="fa fa-stethoscope fa-3x"></i>
                            <h3>Testing</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="process-item delay5">
                            <i class="fa fa-truck  fa-3x"></i>
                            <h3>Deliver</h3>
                            <p class="font-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>