{% extends "base.html" %}

{% block footer %}
    <footer>
        <div class="container">
            <p>&copy; Copyright <a href="http://graphberry.com?ref=smak">GraphBerry.com</a> 2014 All rights reserved.
                Distributed by <a href="http://htmltemplatesfree.in">HTMLTemplatesFree.in</a></p>
            <ul class="social-list">
                <li class="facebook">
                    <a href="http://goo.gl/RqhEjP"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                    <a href="http://goo.gl/hUfpSB"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="dribbble">
                    <a href="http://goo.gl/k9zAy5"> <i class="fa fa-dribbble"></i></a>
                </li>
                <li class="youtube">
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
            <a href="#home" class="square-l goup" style="position: relative">
					<span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
						<span class="fa fa-angle-double-up fa-2x"></span>
					</span>
            </a>
        </div>
    </footer>
{% endblock %}