{% extends "base.html" %}
{% load staticfiles %}

{% block clients %}
<section id="clients">
    <div class="container">
        <div class="heading">
            <div>Our clients</div>
            <h1>Who love to work with us</h1>
            <div class="divider">
                <span></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
            <ul class="client-slider clearfix" id="clint-slider">
                <li><img src="{% static "main/img/clients/logo1.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo2.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo3.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo4.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo5.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo6.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo7.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo1.png" %}" alt="" class="grayscale"></li>
                <li><img src="{% static "main/img/clients/logo2.png" %}" alt="" class="grayscale"></li>
            </ul>
        </div>
        <ul class="client-nav">
            <li id="client-prev"></li>
            <li id="client-next"></li>
        </ul>
    </div>
    <div class="branded-section quote">
        <div class="masked">
            <div class="container">
                <div id="testimonials" class="bxslider clearfix">
                    <blockquote>
                        <p>Any man who can drive safely while kissing a pretty girl is simply not giving the kiss the
                            attention it deserves.</p>
                        <div class="divider">
                            <span></span>
                        </div>
                        Albert Einstein
                    </blockquote>
                    <blockquote>
                        <p>We keep moving forward, opening new doors, and doing new things, because we're curious and
                            curiosity keeps leading us down new paths.</p>
                        <div class="divider">
                            <span></span>
                        </div>
                        Walt Disney
                    </blockquote>
                    <blockquote>
                        <p>You know the golden rule, don’t you boy? Those who have the gold make the rules.</p>
                        <div class="divider">
                            <span></span>
                        </div>
                        Aladdin
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}