{% extends "base.html" %}

{% block home %}
<section id="home" class="home home-fullscreen">
    <div class="slide text-slider-wrapper">
        <div class="container">
            <ul class="text-slider clearfix">
                <li class="clearfix">
                    <span class="lead">Branding have another definition</span>
                    <a href="http://graphberry.com/item/smak-one-page-web-template"
                       class="btn btn-primary outline-outward">Get it</a>
                </li>
                <li class="clearfix">
                    <span class="lead">Branding have another definition</span>
                    <a href="http://graphberry.com/item/smak-one-page-web-template"
                       class="btn btn-primary outline-outward">Get it</a>
                </li>
                <li class="clearfix">
                    <span class="lead">Branding have another definition</span>
                    <a href="http://graphberry.com/item/smak-one-page-web-template"
                       class="btn btn-primary outline-outward">Get it</a>
                </li>
            </ul>
        </div>
    </div>
    <a href="#services" class="go-to godown">
				<span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
					<span class="fa fa-angle-double-down fa-2x"></span>
				</span>
    </a>
</section>
{% endblock %}