<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="heading">
            <div>Our references</div>
            <h1>What we done so far</h1>
            <div class="divider"><span></span></div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero eros et accumsan et iusto odio dignissim qui blandit.</p>
        </div>
        <div class="centered-pills">
            <ul class="nav nav-pills">
                <li class="filter" data-filter="all">
                    <a href="javascript:void(0)">All</a>
                </li>
                <li class="filter" data-filter="web-design">
                    <a href="javascript:void(0)">Web design</a>
                </li>
                <li class="filter" data-filter="g-design">
                    <a href="javascript:void(0)">Graphic design</a>
                </li>
                <li class="filter" data-filter="photography">
                    <a href="javascript:void(0)">Photography</a>
                </li>
                <li class="filter" data-filter="illustraion">
                    <a href="javascript:void(0)">Illustration</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div id="single-project"></div>
    </div>
    <div>
        <ul class="full-portfolio clearfix" id="Grid">
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Moderno</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-1.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>App Screen Showcase</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-2.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Molly</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Workspace Elements</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">AI / PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-1.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Vintage Logo Insignias</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">AI / ESP</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-2.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Retro Vetor Badges</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">AI</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Mentum</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-2.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Flat Browser Mockup</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">AI / PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item web-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Flying Business Cards</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item g-design">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-1.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Tri Fold Brochure</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item photography">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder-2.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>iPhone 6 Mockups</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">AI / PSD</p>
                    </div>
                </a>
            </li>
            <li class="mix col-xs-6 col-sm-4 col-md-3 col-lg-2 portfolio-item illustraion">
                <a href="ajax/project-1.html">
                    <img src="img/portfolio/placeholder.png" class="img-responsive" alt="">
                    <div class="mask">
                        <h4>Large Poster Mockup</h4>
                        <div class="divider"><span></span></div>
                        <p class="font-m">PSD</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="heading">
            <h1>Do you like our portfolio?</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        </div>
        <div style="text-align:center; margin-bottom: 50px">
            <a href="#contact" class="btn btn-primary">Contact Us</a>
        </div>
    </div>
    <div class="branded-section numbers">
        <div class="masked">
            <div class="container">
                <div class="heading">
                    <h2>We are proud of these numbers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam donummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="number-item">
                            <span class="number" id="clientsCounter" data-count="1600" data-duration="2">1600</span>
                            <span class="text">Happy clients</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="number-item">
                            <span class="number" id="projectCounter" data-count="3200" data-duration="2">3200</span>
                            <span class="text">Completed projects</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="number-item">
                            <span class="number" id="awardCounter" data-count="40" data-ration="1.5">40</span>
                            <span class="text">Awards</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="number-item">
                            <span class="number" id="coffeeCounter" data-count="20000" data-duration="3">20 000</span>
                            <span class="text">Coffee drinks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>